<ion-tabs #tabs>
  <ion-tab-bar slot="bottom"> <!-- Localização da tabela de navegação -->

    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="avaliacoes">
      <ion-icon name="list"></ion-icon>
        <ion-label>Histórico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="teste">
      <ion-icon name="eye"></ion-icon>
        <ion-label>Testes</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>