<ion-header translucent="primary">
  <ion-toolbar color="primary">
    <ion-title>Avaliações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
      Nome:<ion-label> Álvaro</ion-label>
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Idade: <ion-label>13</ion-label>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Data de Avaliação:
      </ion-col>
      <ion-col>
          <ion-label>30/09/2019</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>





  <!-- <ion-list>
    <ion-item>
      <label> Nome do aluno(a):</label> Aluno 01
    </ion-item>
    <ion-item>
        <label>Idade:</label> 13
    </ion-item>
    <ion-item>
        <label>Data Avaliação:</label> 29/09/2019
    </ion-item>
  </ion-list> -->

</ion-content>
